html {
font-family: Open Sans Condensed, Arial, Helvetica, serif;
color: #e6fff6;
background: #212330;
}

* {
margin: 0;
padding: 0;
border: 0;
}

#header {
overflow: hidden;
height: 2.8em;
background-color: #14996a;
}

#header h1 {
position: relative;
float: left;
color: #fff;
font-weight: normal;
text-transform: uppercase;
font-size: 2em;
padding: 0 0.5em;
}

#nav_home, #breadcrumb {
height: 2em;
overflow: hidden;
background-color: #e6fff6;
padding: 0 0.8em;
color: #212330;
}

.navmenu {
list-style: none;
}

.navmenu li {
float: left;
height: 2em;
padding: 0 0.8em;
line-height: 1.3em;
font-size: 1.4em;
text-transform: uppercase;
}

.navmenu li:first-child {
padding: 0 0.8em 0 0;
}

.navmenu li a {
color: #14996A;
text-decoration: none;
font-weight: 700;
}

.navmenu li a:hover {
text-decoration: underline;
}

.categoria {
display: block;
float: left;
width: 33.2%;
margin-right: 0.2%;
height: 700px;
text-align: center;
text-decoration: none;
background-color: #14996A;
background-position: center;
background-repeat: no-repeat;
backgound-size: 100%;
}

.c_cit {
background-image: url(../images/HOME_BG_CITY.jpg);
}

.c_mont {
margin-right: 0;
background-image: url(../images/HOME_BG_MOUNTAIN.jpg);
background-position-x: right;
}

.c_mare {
background-image: url(../images/HOME_BG_SEA.jpg);
background-position-y: -6em;
}

.categoria h1 {
padding: 0.5em;
color: #e6fff6;
font-size: 4em;
font-weight: normal;
text-transform: uppercase;
text-align: center;
line-height: 1em;
}

.categoria:hover h1 {
color: #212330;
}

.categoria:visited h1 {
color: red;
}

.categoria:active h1 {
color: yellow;
}

#footer {
display: inline-block;
padding: 0.5em;
background-color: #212330;
}

.footer_progetto, .footer_privacy {
width: 30%;
padding-right: 1%;
float: left;
}

.footer_privacy {
padding: 0 0.5%;
}

.footer_info {
width: 18%;
padding: 0 0.5%;
float: left;
}

#footer h1 {
color: #fff;
font-weight: normal;
text-transform: uppercase;
font-size: 1.4em;
}

.footer_info ul {
list-style: none;
padding-left: 0.4em;
}

.footer_info ul li {
font-size: 1em;
}

.footer_info ul li a {
color: #e6fff6;
text-decoration: none;
}

.footer_info ul li a:hover {
  text-decoration:underline;
}

/* SEARCH-BAR */

#header .search_bar {
  float: right;
}

#header .search_bar  #search input[type="text"] {
  background: url(../images/icons/search-white.png) no-repeat 10px 6px #444;
  margin: 0.9em;
  color: #d7d7d7;
  width: 100px;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

#header .search_bar #search input[type="text"]:focus {
  background: url(../images/icons/search-dark.png) no-repeat 10px 6px #fcfcfc;
  color: #6a6f75;
  width: 200px;
  outline: none; // rimuove il bordo blu dovuto al focus su input
}

/* INIZIO CSS PAGINA DI LOGIN */

.container {
  margin: 1% auto;
  width: 50%;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 5% 5% 5%;
  width: 45%;
  background: #EAEAEA;
  border-radius: 3px;
}

.login:before {
  content: '';
  position: absolute;
  top: -3%;
  right: -3%;
  bottom: -3%;
  left: -3%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.login h1 {
  margin: -5% -5% 5%;
  line-height: 200%;
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
  text-align: center;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
}

.login p {
  margin: 7% 0 0;
}

.login p:first-child {
  margin-top: 7%;
}

.login p.submit {
  text-align: center;
}

.login p.logout {
  text-align: center;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}

.login-help a {
  color: #cce7fa;
  text-decoration: none;
}

.login-help a:hover {
  text-decoration: underline;
}

.credentials {
  color: #545353;
  font-size: 1em;
  font-weight: bold;
}

.login input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width:90%;
  height: 35px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
}

.login input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

input[name=sign-in] {
  margin-top: 3%;
  padding: 0 18px;
  height: 35px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px #545353;
  background: #5D4BD8;
  border: 1px solid;
  border-color: #545353;
  outline: 0;
  width:96%;
  border-radius: 2px;
}
input[name=logout] {
  margin-top: 3%;
  padding: 0 18px;
  height: 35px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px #545353;
  background: #FE3F44;
  border: 1px solid;
  border-color: #545353;
  outline: 0;
  width:96%;
  border-radius: 2px;
}

input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  color:black;
}

/* INIZIO CSS LOCALITA */

#breadcrumb {
padding: 0.5em 0.8em 0 0.8em;
font-weight: bold;
}

#breadcrumb a {
color: #14996a;
text-decoration: none;
}

#breadcrumb a:hover {
text-decoration: underline;
}

#nav {
float: left;
width: 20%;
padding-right: 1%;
background-color: #212330;
}

#nav ul {
margin: 0.5em;
font-weight: normal;
text-transform: uppercase;
font-size: 1.5em;
}

#nav li {
padding-left: 1.4em;
color: #fff;
}

#nav .nav_home {
background-image: url(../images/icons/n_home.png);
background-repeat: no-repeat;
background-position: left 0.1em;
}

#nav .nav_mare {
background-image: url(../images/icons/n_mare.png);
background-repeat: no-repeat;
background-position: left 0.1em;
}

#nav .nav_cit {
background-image: url(../images/icons/n_cit.png);
background-repeat: no-repeat;
background-position: left 0.1em;
}

#nav .nav_mont {
background-image: url(../images/icons/n_mont.png);
background-repeat: no-repeat;
background-position: left 0.1em;
}

#nav .nav_selected {
padding-left: 1.8em;
background-image: url(../images/icons/n_pos.png);
background-repeat: no-repeat;
background-position: 0.6em 0.1em;
}

#nav li a {
text-decoration: none;
color: #fff;
}

#nav li a:hover {
text-decoration: underline;
}

#content {
float: left;
width: 79%;
color: #E6FFF6;
background-color: #212330;
}

#descr_loc {
float: left;
width: 78%;
padding: 0 1% 1em 1%;
overflow: hidden;
color: #222222;
background-color: #ffffff;
}

#descr_loc h1 {
display: block;
float: right;
position: relative;
top: 0.4em;
font-weight: normal;
text-transform: uppercase;
font-size: 1.5em;
}

#descr_loc h2 {
font-weight: normal;
font-size: 3em;
}

#descr_loc h3 {
padding-top: 1em;
}

.immagini {
width: 45em;
height: 18em;
margin: 1em auto 0em auto;
overflow: hidden;
}

.immagini img {
width: 100%;
margin: 0 auto;
}

#img_presentazione {
height: 14em;
overflow: hidden;
}

#img_presentazione img {
width: 100%;
}

#aside {
float: left;
width: 19%;
padding-left: 1%;
color: #E6FFF6;
background-color: #212330;
}

#aside h1 {
padding-top: 0.38em;
font-weight: normal;
text-transform: uppercase;
font-size: 1.5em;
}

#aside a.link_out {
background-image: url(../images/icons/Link_out.png);
background-repeat: no-repeat;
background-size: 10px;
background-position: right center;
padding-right: 1em;
color: #fff;
}

.government li,.utility li {
  list-style: none;
}

.info dt {
float: left;
margin-right: 0.3em;
}

.info dd {
float. left;
clear: right;
}

.square {
vertical-align: super;
font-size: 0.7em;
}

/* OCCHIO ALLA STORIA COLONNA - DARE COLORE NAV A MAIN */
