html {
font-family: Open Sans Condensed, Arial, Helvetica, serif;
color: #e6fff6;
background: #14996A;
}

* {
margin: 0;
padding: 0;
border: 0;
}

#header {
overflow: hidden;
height: 2.8em;
background-color: #14996a;
}

#header .search_provvisorio {
float: left;
height: 1.2em;
margin: 0.8em;
padding: 0 0.5em;
background-color: #e6fff6;
}

#header h1 {
position: relative;
float: right;
color: #fff;
font-weight: normal;
text-transform: uppercase;
font-size: 2em;
padding-right: 0.6em;
}

#nav_home, #breadcrumb {
height: 2em;
overflow: hidden;
background-color: #e6fff6;
padding: 0 0.8em;
}

.navmenu {
list-style: none;
}

.navmenu li {
float: left;
height: 2em;
padding: 0 0.8em;
line-height: 1.3em;
font-size: 1.4em;
text-transform: uppercase;
}

.navmenu li:first-child {
padding: 0 0.8em 0 0;
}

.navmenu li a {
color: #14996A;
text-decoration: none;
font-weight: 700;
}

#main_home {
display: block;
background-color: #ffffff;
}

.categoria {
float: left;
width: 33.2%;
margin-right: 0.2%;
height: 700px;
text-align: center;
background-color: #14996A;
background-position: center;
background-repeat: no-repeat;
backgound-size: 100%;
}

#c_cit {
background-image: url(../images/HOME_BG_CITY.jpg);
}

#c_mont {
margin-right: 0;
background-image: url(../images/HOME_BG_MOUNTAIN.jpg);
background-position-x: right;
}

#c_mare {
background-image: url(../images/HOME_BG_SEA.jpg);
background-position-y: -6em;
}

.categoria h1 {
color: #e6fff6;
font-weight: normal;
text-transform: uppercase;
font-size: 4em;
text-align: center;
padding: 0.5em;
}

.categoria:hover h1 {
color: #212330;
}

#footer {
display: inline-block;
padding: 0.5em;
background-color: #212330;
}

.footer_progetto, .footer_privacy {
width: 30%;
padding-right: 1%;
float: left;
}

.footer_privacy {
padding: 0 0.5%;
}

.footer_info {
width: 18%;
padding: 0 0.5%;
float: left;
}

#footer h1 {
color: #fff;
font-weight: normal;
text-transform: uppercase;
font-size: 1.4em;
}

.footer_info ul {
list-style: none;
padding-left: 0.4em;
}

.footer_info ul li {
font-size: 1em;
}

.footer_info ul li a {
color: #e6fff6;
text-decoration: none;
}

#main {
display: block;
background-color: #212330;
}

#nav {
float: left;
width: 20%;
padding-right: 1%;
background-color: #212330;
}

#content {
float: left;
width: 79%;
color: #E6FFF6;
background-color: #212330;
}

#descr_loc {
float: left;
width: 80%;
overflow: hidden;
color: #222222;
background-color: #ffffff;
}

#aside {
float: left;
width: 20%;
color: #E6FFF6;
background-color: #212330;
}

.immagini {
width: 45em;
height: 18em;
margin: 1em auto;
overflow: hidden;
}

.immagini img {
width: 100%;
margin: 0 auto;
}

#img_presentazione {
height: 14em;
overflow: hidden;
}

#img_presentazione img {
width: 100%;
}

/* OCCHIO ALLA STORIA COLONNA - DARE COLORE NAV A MAIN */