html, body {
  font-family: Open Sans Condensed, Arial, Helvetica, serif;
  background-color: /* #2ECC71 */ #ECF0F1;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

a:link{
  color: #27AE60;
}

a:visited{
  color: #2ECC71;
}

a:hover{
  color: #2ECC71;
}

#header {
  background-color: #27AE60;
  height: 2.8em;
}

#header h1 {
  float: left;
  color: #E0E0E0;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: normal;
  padding: 0 0.5em;
}

#header h1 a{
  color: #E0E0E0;

  text-decoration: none;
}

.login_button{
  float: right;
  margin-top: 0.35em;
  margin-right: 0.9em;
  padding: 0.2em 1.4em;
  color: white;
  font-size: 1.1em;
  background-color: #2ECC71;
  border-radius: 0.3em;
}

.login_button:active{

}

#breadcrumb {
  background-color: #E0E0E0;
  /* border-bottom: 0.12em solid #CACACA; */
  overflow: hidden;
  padding: 0 0.8em;
  height: 2.2em;

  /* 
  background-color: #E0E0E0;
  border: 0.12em solid #CACACA;
  overflow: hidden;
  margin: 0.4em 0.8em;
  padding: 0 0.2em;
  border-radius: 0.3em;
  height: 2em;
  */
}

#breadcrumb #search {
  float: right;
  margin-top: 0.1em;
}

#breadcrumb #search input[type="text"]{
  background: url(../images/icons/search-white.png) no-repeat 10px 6px #444;
  height: 1.95em;
  margin: 0.2em;
  padding-left: 35px;
  border: 0 none;
  color: #d7d7d7;
  width: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#breadcrumb #search input[type="text"]:focus {
  background: url(../images/icons/search-dark.png) no-repeat 10px 6px #fcfcfc;
  color: #6a6f75;
  width: 200px;
  outline: none; // rimuove il bordo blu dovuto al focus su input
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.emphasized {

}

#navmenu {
  list-style-type: none;
}

#navmenu li {
  float: left;
  height: 2em;
  padding: 0 0.8em;
  font-size: 1.4em;
  text-transform: uppercase;
}

#navmenu li:first-child {
  padding: 0 0.8em 0 0;
}

#navmenu li a {
  text-decoration: none;
  font-weight: 700;
}

#navmenu li a:hover{
  text-decoration: underline;
}

#skip{
  position: absolute;
  height: 0;
  overflow: hidden;
}

.nomeprovvisoriocategoriehome {
  float: left;
  width: 31.3%;
  height: 18em;
  margin: 1%;
  text-align: center;
  background-color: #000000;
  background-position: center;
  background-size: 16em;
  border-radius: 0.14em;
}

.nomeprovvisoriocategoriehome a {
  margin: 0.14em;
  display: block;
  background-color: #2ECC71;
  border-radius: 0.14em; 
  color: #ECF0F1;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5em;
}

#c_mare {
  background-image: url(../images/HOME_BG_SEA.png);
/* ATTENZIONE IMG IN PNG - PESA - CAMBIARE POI */
}

#c_cit {
  background-image: url(../images/HOME_BG_CITY.png);
/* ATTENZIONE IMG IN PNG - PESA - CAMBIARE POI */
}

#c_mont {
  background-image: url(../images/HOME_BG_MOUNTAIN.png);
/* ATTENZIONE IMG IN PNG - PESA - CAMBIARE POI */
}

#c_cit,#c_mont,#c_mare {
}

#c_cit:hover, #c_mont:hover, #c_mare:hover{
  background-color: #ffffff;
  background-size: 18em;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.foothome {
  position: absolute;
  bottom: 0;
}

#footer {
  clear: both;
  width: 100%;
  background-color: #2C3E50;
}

#footer ul{
  list-style-type: none;
  margin-top: 0.5em;
  float: left;
}

#footer li{
  font-size: 1em;
  border-right: solid;
  border-color: #27AE60;
  border-width: 1px;
  display:inline;
  padding: 0 0.8em;
}

#footer li:first-child{
  margin-left: 1em;
}

#footer li:last-child{
  border: none;
}

#footer a{
  text-decoration: none;
}

#footer a:hover{
  text-decoration: underline;
}

#xhtml_valid{
  margin-top: 0.2em;
  float:right;
  padding-right: 0.7em;
}

/* INIZIO CSS PAGINA DI LOGIN */

.container {
  margin: 1% auto;
  width: 50%;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 5% 5% 5%;
  width: 45%;
  background: #EAEAEA;
  border-radius: 3px;
}

.login:before {
  content: '';
  position: absolute;
  top: -3%;
  right: -3%;
  bottom: -3%;
  left: -3%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.login h1 {
  margin: -5% -5% 5%;
  line-height: 200%;
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
  text-align: center;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
}

.login p {
  margin: 7% 0 0;
}

.login p:first-child {
  margin-top: 7%;
}

.login p.submit {
  text-align: center;
}

.login p.logout {
  text-align: center;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}

.login-help a {
  color: #cce7fa;
  text-decoration: none;
}

.login-help a:hover {
  text-decoration: underline;
}

.credentials {
  color: #545353;
  font-size: 0.9em;
  font-weight: bold;
}

.login input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width:90%;
  height: 35px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
}

.login input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

input[name=sign-in] {
  margin-top: 3%;
  padding: 0 18px;
  height: 35px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px #545353;
  background: #5D4BD8;
  border: 1px solid;
  border-color: #545353;
  outline: 0;
  width:96%;
  border-radius: 2px;
}
input[name=logout] {
  margin-top: 3%;
  padding: 0 18px;
  height: 35px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px #545353;
  background: #FE3F44;
  border: 1px solid;
  border-color: #545353;
  outline: 0;
  width:96%;
  border-radius: 2px;
}

input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  color:black;
}

.info_login {
  color: #545353;
  font-size: 0.7em;
}

/* INIZIO CSS LOCALITA */

#nav {
}

#nav ul {
}

#nav li {
}

#nav_selected {
}

#nav a{
}

#nav a:hover{
}

#content {
}

#content ul {
}

#content ul li a{
}

#content a:visited{
}

#content #mappa_sito {
}

#content #mappa_sito ul{
}

#content #mappa_sito ul ul{
}

#descr_loc {
}

#descr_loc h1 {
}

#descr_loc h2 {
}

#descr_loc h3 {
}

#descr_loc dt {
}

#descr_loc a {
}

#descr_loc a:visited {
}

.img_content {
}

#img_presentazione {
}

#aside {
}

#aside h1 {
}

#aside a{
}

#aside a:visited {
}

#government li,#utility li {
}

.info dt {
}

.info dd {
}

.square {
}