/*TO DO > ALLINEARE LABEL SEARCHBAR CON CASELLA*/

html, body {
  font-family: Open Sans Condensed, Arial, Helvetica, serif;
  background-color: /* #2ECC71 */ #ECF0F1;
  color: #444;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

a:link{
  color: #27AE60;
}

a:visited{
  color: #2ECC71;
}

a:hover{
  color: #2ECC71;
}

#header {
  background-color: #2ECC71;
  height: 5.5em;
  overflow: hidden;
}

#header h1 {
  float: left;
  color: #E0E0E0;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: normal;
  padding: 0;
}

#header h1 a{
  color: #E0E0E0;
  text-decoration: none;
}













#header #main-menu {
  margin: 0 0.5em;
  float: left;
  font-size: 1.5em;
  text-transform: uppercase;
}

#header #main-menu li {
  list-style-type: none;
  float: left;
  padding: 0 0.5em;
  height: 1.9em;
}

#header #main-menu li:first-child {
}

#header #main-menu li a {
  display: block;
  text-decoration: none;
  height: 1.7em;
  line-height: 1.5em;
  border-top: 0.2em solid #fff;
  color: #fff;
}

#header #main-menu li:hover {
  color: #2ECC71;
  background-color: #fff;
  border-top: 0.2em solid #2ECC71;
}

#header #main-menu li:hover a {
  color: #2F965A;
}

#header #main-menu li a:visited{
  color: #fff;
}

#header #search {
  float: right;
  margin-top: 0.1em;
}

#header #search label {
  font-size: 1em;
}

#header #search input[type="text"]{
  background: url(../images/icons/search-white.png) no-repeat 0.6em 0.24em #444;
  height: 2.6em;
  margin: 0.2em;
  padding-left: 2.4em;
  border: 0;
  color: #d7d7d7;
  width: 7em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}

#header #search input[type="text"]:focus {
  background: url(../images/icons/search-dark.png) no-repeat 0.6em 0.24em #fcfcfc;
  color: #6a6f75;
  width: 13em;
  outline: none; // rimuove il bordo blu dovuto al focus su input
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
















#breadcrumb {
  height: 0;
  visibility: hidden;
}

#breadcrumb #search {
}

#breadcrumb #search label {
}

#breadcrumb #search input[type="text"]{
}

#breadcrumb #search input[type="text"]:focus {
}

.emphasized {
}

#navmenu {
}

#navmenu li {
}

#navmenu li:first-child {
}

#navmenu li a {
}

#navmenu li a:hover{
}

#skip{
}

.nomeprovvisoriocategoriehome {
  float: left;
  width: 100%;
  height: 10em;
  background-color: #000000;
  background-position: center;
  background-size: 15em;

  margin: 0;
  border-radius: 0;
  text-align: center;
  clear: both;
}

.nomeprovvisoriocategoriehome a {
  margin: 0.2em 0.6em;
  display: block;
  background-color: #2F965A;
  border-radius: 0.14em;
  border: 0.1em solid #ECF0F1;
  color: #ECF0F1;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5em;
}

#c_mare {
  background-image: url(../images/HOME_BG_SEA.png);
  background-position: center -10em;
/* ATTENZIONE IMG IN PNG - PESA - CAMBIARE POI */
}

#c_cit {
  background-image: url(../images/HOME_BG_CITY.png);
/* ATTENZIONE IMG IN PNG - PESA - CAMBIARE POI */
}

#c_mont {
  background-image: url(../images/HOME_BG_MOUNTAIN.png);
/* ATTENZIONE IMG IN PNG - PESA - CAMBIARE POI */
}

#c_cit,#c_mont,#c_mare {
}

#c_cit:hover, #c_mont:hover, #c_mare:hover{
  background-color: #ffffff;
  background-size: 110%;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.foothome {
  position: relative;
  bottom: 0;
}

#footer {
  clear: both;
  width: 100%;
  background-color: /* #2C3E50 */ #34495E;
  height: 2.5em;
}

#footer ul{
  list-style-type: none;
  margin-top: 0.5em;
  float: left;
}

#footer li{
  font-size: 1em;
  border-right: solid;
  border-color: #27AE60;
  border-width: 1px;
  display:inline;
  padding: 0 0.8em;
}

#footer li:first-child{
  margin-left: 1em;
}

#footer li:last-child{
  border: none;
}

#footer a{
  text-decoration: none;
}

#footer a:hover{
  text-decoration: underline;
}

#xhtml_valid{
  margin-top: 0.2em;
  float:right;
  padding-right: 0.7em;
}

/* INIZIO CSS LOCALITA */

#nav {
  float: left;
  background-color: #444;
  margin: 0;
  border-radius: 0;
  height: 0;
}

#nav ul {
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1em;
  list-style-type:none;
}

#nav li {
  padding-left: 1.4em;
  color: white;
}

#nav_selected {
  padding-left: 2em;
  background-image: url(../images/icons/n_pos.png);
  background-repeat: no-repeat;
  background-position: -0.3em 40%;
}

#nav a{
  font-weight: bold;
  text-decoration: none;
}

#nav a:hover{
  text-decoration: underline;
}

#content {
  float: left;
  color: #444;
  margin-left: 2%;
  width: 78%;
}

#content h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: normal;
}

#content ul {
  padding-top:1%;
  padding-left: 2%;
}

#content ul li a{
  color: #2F965A;
  font-weight:bold;
}
#content a:visited{
  color: #2ECC71;
}

#content #mappa_sito {
  padding-top: 2em;
}

#content #mappa_sito ul{
  padding-top: 0em;
}

#content #mappa_sito ul ul{
  list-style-type: none;
}

#descr_loc {
  float: left;
  width: 100%;
  overflow: hidden;
  color: #444;
  padding: 0;
}

#descr_loc h2 {
  display: block;
  float: left;
  position: relative;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0.3em 0;
  padding: 0.1em 0.8em 0.1em 0.4em;
  color: #FFF;
  font-size: 1em;
  background-color: #2ECC71;
  border-radius: 0.2em;
  clear: right;
}

#descr_loc h1 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: normal;
  clear: left;
  padding-left: 0.18em;
}

#descr_loc h3 {
  font-family: 'Roboto';
  font-size: 1.4em;
  padding: 0.5em 0 0 0.3em;
}

#descr_loc dt {
}

#descr_loc a {
}

#descr_loc p {
  font-family: 'Roboto';
  font-size: 0.9em;
  padding: 0 0.5em;
}

#descr_loc a:visited {
}

.img_content {
  width: 100%;
  height: 10em;
  float: left;
  clear: both;
  border-radius: 0;
  margin: 1em 0;

  /* OLD STYLE */
  /* width: 98%;
  height: 17em;
  border-radius: 0.2em;
  margin: 1em auto; */
}

#img_presentazione {
  width: 100%;
  height: 10em;
  overflow: hidden;

  border-radius: 0;
}

#aside {
}

#aside h1 {
}

#aside a{
}

#aside a:visited {
}

#government li,#utility li {
}

.info dt {
}

.info dd {
}

.square {
}












































#nav ul {
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1em;
  list-style-type:none;
}

#nav li {
  padding-left: 1.4em;
  color: white;
}

#nav_selected {
  padding-left: 2em;
  background-image: url(../images/icons/n_pos.png);
  background-repeat: no-repeat;
  background-position: -0.3em;
}

#nav a{
	font-weight: bold;
	text-decoration: none;
}

#nav a:hover{
	text-decoration: underline;
}

#content ul {
  padding-top:1%;
  padding-left: 2%;
}
#content ul li a{
  color: blue;
  font-weight:bold;
}
#content a:visited{
  color:purple;
}

#content #mappa_sito {
	padding-top: 2em;
}

#content #mappa_sito ul{
	padding-top: 0em;
}

#content #mappa_sito ul ul{
	list-style-type: none;
}

#descr_loc dt {
  font-weight: bold;
}

#descr_loc a {
  color: blue;
}

#descr_loc a:visited {
  color: purple;
}

#aside {
  border-radius: 0;
  float: right;
  width: 98%;
  padding: 0.5em 1%;
  color: black;
  background-color: #CFE5DD;
}

#aside h1 {
  padding-top: 0.38em;
  padding-bottom: 0.5em;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5em;
}

#aside a{
  color: blue;
  background-image: url(../images/icons/Link_out.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right center;
  padding-right: 1em;
  font-weight:normal;
}

#aside a:visited {
  color: purple;
}

#government li,#utility li {
  list-style-type: none;
}

.info dt {
  float: left;
  margin-right: 0.3em;
}

.info dd {
  float. left;
  clear: right;
}

.square {
  vertical-align: super;
  font-size: 0.7em;
}




