/*TO DO > ALLINEARE LABEL SEARCHBAR CON CASELLA*/

html, body {
  font-family: Open Sans Condensed, Arial, Helvetica, serif;
  background-color: /* #2ECC71 */ #ECF0F1;
  color: #444;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

a:link{
  color: #27AE60;
}

a:visited{
  color: #2ECC71;
}

a:hover{
  color: #2ECC71;
}

#header {
  background-color: #2ECC71;
  height: 5em;
  overflow: hidden;
}

#header h1 {
  float: left;
  color: #E0E0E0;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: normal;
  padding: 0;
}

#header h1 a{
  color: #E0E0E0;
  text-decoration: none;
}













#header #main-menu {

}

#header #main-menu li {

}

#header #main-menu li:first-child {
}

#header #main-menu li a {

}

#header #main-menu li:hover {

}

#header #main-menu li:hover a {

}

#header #main-menu li a:visited{

}

#header #search {
  float: right;
  margin-top: 0.1em;
}

#header #search label {
  font-size: 1em;
}

#header #search input[type="text"]{
  background: url(../images/icons/search-white.png) no-repeat 0.6em 0.24em #444;
  height: 2.6em;
  margin: 0.2em;
  padding-left: 2.4em;
  border: 0;
  color: #d7d7d7;
  width: 7em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}

#header #search input[type="text"]:focus {
  background: url(../images/icons/search-dark.png) no-repeat 0.6em 0.24em #fcfcfc;
  color: #6a6f75;
  width: 13em;
  outline: none; // rimuove il bordo blu dovuto al focus su input
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
















#breadcrumb {
  background-color: #E0E0E0;
  padding: 0.2em 0.5em;
  height: auto;
}

#breadcrumb #search {
  height: 0;
  visibility: hidden;
}

#breadcrumb #search label {
}

#breadcrumb #search input[type="text"]{
}

#breadcrumb #search input[type="text"]:focus {
}

.emphasized {
}

#navmenu {
}

#navmenu li {
}

#navmenu li:first-child {
}

#navmenu li a {
}

#navmenu li a:hover{
}

#skip{
}

.nomeprovvisoriocategoriehome {
  float: left;
  width: 100%;
  height: 10em;
  background-color: #000000;
  background-position: center;
  background-size: 15em;

  margin: 0;
  border-radius: 0;
  text-align: center;
  clear: both;
}

.nomeprovvisoriocategoriehome a {
  margin: 0.2em 0.6em;
  display: block;
  background-color: #2F965A;
  border-radius: 0.14em;
  border: 0.1em solid #ECF0F1;
  color: #ECF0F1;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5em;
}

#c_mare {
  background-image: url(../images/HOME_BG_SEA.png);
  background-position: center -10em;
/* ATTENZIONE IMG IN PNG - PESA - CAMBIARE POI */
}

#c_cit {
  background-image: url(../images/HOME_BG_CITY.png);
/* ATTENZIONE IMG IN PNG - PESA - CAMBIARE POI */
}

#c_mont {
  background-image: url(../images/HOME_BG_MOUNTAIN.png);
/* ATTENZIONE IMG IN PNG - PESA - CAMBIARE POI */
}

#c_cit,#c_mont,#c_mare {
}

#c_cit:hover, #c_mont:hover, #c_mare:hover{
  background-color: #ffffff;
  background-size: 110%;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.foothome {
  position: relative;
  bottom: 0;
}

#footer {
  clear: both;
  width: 100%;
  background-color: #2ECC71;
  height: 2.5em;
}

#footer ul{
  list-style-type: none;
  background-color: #2ECC71;
  margin: 0;
  padding-top: 1em;
  float: left;
  width: 100%;
}

#footer li{
  font-size: 1em;
  border: none;
  padding: 0 0 0 5%;
  float: none;
}

#footer li:first-child{
  margin-left: 0;
}

#footer li:last-child{
  border: none;
}

#footer li a {
  text-decoration: underline;
  line-height: 1.5em;
  display: block;
  height: auto;
  border: 0;
  color: #fff;
  font-family: 'Roboto';
  font-size: 0.9em;
}

#footer li a:hover {
  height: auto;
  border: 0;
}

#footer li a:visited {
  border-color: #fff;
}

#xhtml_valid{
  margin: 0;
  float: left;
  padding: 1em 0 0 5%;
  width: 95%;
  background-color: #2ECC71;
}

/* INIZIO CSS LOCALITA */

#nav {

}

#nav ul {

}

#nav li {

}

#nav_selected {

}

#nav a {

}

#nav a:hover {

}

#content {
  float: left;
  color: #444;
  margin-left: 2%;
  width: 78%;
}

#content h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: normal;
}

#content ul {
  padding-top:1%;
  padding-left: 2%;
}

#content ul li a{
  color: #2F965A;
  font-weight:bold;
}
#content a:visited{
  color: #2ECC71;
}

#content #mappa_sito {
  padding-top: 2em;
}

#content #mappa_sito ul{
  padding-top: 0em;
}

#content #mappa_sito ul ul{
  list-style-type: none;
}

#descr_loc {
  float: left;
  width: 100%;
  overflow: hidden;
  color: #444;
  padding: 0;
}

#descr_loc h2 {
  display: block;
  float: left;
  position: relative;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0.3em 2%;
  margin-top: -5.2em;
  padding: 0.1em 0.8em 0.1em 0.4em;
  color: #FFF;
  font-size: 1em;
  background-color: #2ECC71;
  border-radius: 0.2em;
  clear: right;
}

#descr_loc h1 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: normal;
  clear: left;
  padding-left: 0.18em;
}

#descr_loc h3 {
  font-family: 'Roboto';
  font-size: 1.4em;
  padding: 0.5em 0 0 0.3em;
}

#descr_loc dt {
}

#descr_loc a {
}

#descr_loc p {
  font-family: 'Roboto';
  font-size: 0.9em;
  padding: 0 0.5em;
  clear: both;
}

#descr_loc a:visited {
}

.img_content {
  width: 100%;
  height: 10em;
  float: left;
  clear: both;
  border-radius: 0;
  margin: 1em 0;

  /* OLD STYLE */
  /* width: 98%;
  height: 17em;
  border-radius: 0.2em;
  margin: 1em auto; */
}

#img_presentazione {
  width: 100%;
  height: 10em;
  overflow: hidden;

  border-radius: 0;
}

#aside {
}

#aside h1 {
}

#aside a{
}

#aside a:visited {
}

#government li,#utility li {
}

.info dt {
}

.info dd {
}

.square {
}











































#content ul {
  padding-top:1%;
  padding-left: 2%;
}
#content ul li a{
  color: blue;
  font-weight:bold;
}
#content a:visited{
  color:purple;
}

#content #mappa_sito {
	padding-top: 2em;
}

#content #mappa_sito ul{
	padding-top: 0em;
}

#content #mappa_sito ul ul{
	list-style-type: none;
}

#descr_loc dt {
  font-weight: bold;
}

#descr_loc a {
  color: blue;
}

#descr_loc a:visited {
  color: purple;
}

#aside {
  border-radius: 0;
  float: right;
  width: 98%;
  padding: 0.5em 1%;
  color: black;
  background-color: #E0E0E0;
}

#aside h1 {
  padding-top: 0.38em;
  padding-bottom: 0.5em;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5em;
  width: 90%;
  margin: 0 auto;
}

#aside dl, #aside ul {
  width: 90%;
  margin: 0 auto;
}

#aside a{
  color: blue;
  background-image: url(../images/icons/Link_out.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right center;
  padding-right: 1em;
  font-weight:normal;
}

#aside a:visited {
  color: purple;
}

#government li,#utility li {
  list-style-type: none;
}

.info dt {
  float: left;
  margin-right: 0.3em;
}

.info dd {
  float. left;
  clear: right;
}

.square {
  vertical-align: super;
  font-size: 0.7em;
}







#aside #geolocation #mapholder {
display: none;
position: relative;
height: 20em;
width: 90%;
margin: 0 auto;
border: 2px solid #2ECC71;
}

#aside #geolocation #geodata {
  clear: both;
}

#geodata li{
  width: 90%;
  margin: 0 auto;
}





















#main-menu, #nav {
  /* critical sizing and position styles */
  width: 70%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: -70%;
  z-index: 0;

  list-style: none;
  background: #111;
}

#nav {
  margin: 0;
}

#header #main-menu li, #nav li {
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

#header #main-menu li a, #nav li a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

#menu-trigger, #nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="menu-trigger"], label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 2;
  visibility: visible;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

#menu-trigger + label, #nav-trigger + label {
  transition: left 0.2s;
}

#menu-trigger:checked + label, #nav-trigger:checked + label {
  left: 72%;
}

#menu-trigger:checked ~ #main-menu {
  left: 0;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

 #nav-trigger:checked ~ #nav {
  left: 0;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}