html,body {
  font-family: Open Sans Condensed, Arial, Helvetica, serif;
  color: #e6fff6;
  background: #98B9FF;
  width:94%;
  height:100%;
  margin:auto;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

#header {
  height: 2.8em;
  background-color: #98B9FF;
}

#header h1 {
  float: left;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  padding: 0 0.5em;
}

#header h1 a{
  color:white;
  font-weight: bold;
}
.login_button{
  float: right;
  margin-top:5px;
  margin-right:15px;
  padding: 3px 48px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  background: #032B93;
  border-radius: 5px;
  border-bottom: 4px solid #000C4C;
  transition: 0.1s all ease;
}

.login_button:active{
  transform: translateY(4px);
  border: 0px;
}

#breadcrumb {
  border-style:solid;
  border-radius: 15px;
  height: 2em;
  overflow: hidden;
  background-color: #e6fff6;
  padding: 0 0.8em;
  color: #212330;
}

#navmenu {
  list-style: none;
}

#navmenu li {
  float: left;
  height: 2em;
  color:black;
  padding: 0 0.8em;
  font-size: 1.4em;
  text-transform: uppercase;
}

#navmenu li:first-child {
  padding: 0 0.8em 0 0;
}

#navmenu li a {
  color: #1547B2;
  text-decoration: none;
  font-weight: 700;
}

#navmenu li a:hover {
  text-decoration: underline;
}

#skip{
  position: absolute;
  height: 0;
  overflow: hidden;
}

.categoria {
  border-style:solid;
  border-width: 1px;
  border-radius: 5px;
  border-color:black;
  display: block;
  float: left;
  margin-top:10px;
  margin-bottom: 0.15em;
  width: 32%;
  height: 700px;
  text-align: center;
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
}

.c_cit {
  margin-right:0.75%;
  margin-left:0.75%;
  background-image: url(../images/HOME_BG_CITY.jpg);
  -webkit-filter: blur(1px) grayscale(60%); /* Google Chrome e Apple Safari */
  -moz-filter: blur(1px) grayscale(60%); /* Mozilla Firefox */
  -ms-filter: blur(1px) grayscale(60%); /* Microsoft Internet Explorer */
  -o-filter: blur(1px) grayscale(60%); /* Opera */
  filter: blur(1px) grayscale(60%); /* La proprietà standard */
}

.c_mont {
  margin-right:0.5%;
  background-image: url(../images/HOME_BG_MOUNTAIN.jpg);
  -webkit-filter: blur(1px) grayscale(60%); /* Google Chrome e Apple Safari */
  -moz-filter: blur(1px) grayscale(60%); /* Mozilla Firefox */
  -ms-filter: blur(1px) grayscale(60%); /* Microsoft Internet Explorer */
  -o-filter: blur(1px) grayscale(60%); /* Opera */
  filter: blur(1px) grayscale(60%); /* La proprietà standard */
  /*background-position-x: right;*/
}

.c_mare {
  margin-left:1%;
  background-image: url(../images/HOME_BG_SEA.jpg);
  -webkit-filter: blur(1px) grayscale(60%); /* Google Chrome e Apple Safari */
  -moz-filter: blur(1px) grayscale(60%); /* Mozilla Firefox */
  -ms-filter: blur(1px) grayscale(60%); /* Microsoft Internet Explorer */
  -o-filter: blur(1px) grayscale(60%); /* Opera */
  filter: blur(1px) grayscale(60%); /* La proprietà standard */
  /*background-position-y: -2em;*/
}

h1 .categoria {
  padding-top: 0.5em;
  padding-bottom: 0em;
  font-size: 2em;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}

.categoria:hover{
  border-style:solid;
  border-width: 3px;
  border-radius: 5px;
  border-color:white;
  color: white;
  text-shadow: 2px 2px black;
  font-weight: bold;
  -webkit-filter: saturate(120%) ; /* Google Chrome e Apple Safari */
  -moz-filter: saturate(120%) ; /* Mozilla Firefox */
  -ms-filter: saturate(120%) ; /* Microsoft Internet Explorer */
  -o-filter: saturate(120%); /* Opera */
  filter: saturate(120%) ; /* La proprietà standard */
  -webkit-transform: scale(1.02);
}

h1 .categoria:active {
  color: #128BC6;
}
h1 .categoria:link {
  color: #4C4C4C;
}
h1 .categoria:visited {
  color: #4C4C4C;
}
h1 .categoria:hover {
  color:white;
}

#footer {
  clear:both;
  border-top: 4px solid gray;
  width:100%;
  height: 2.5em;
  background-color: #515151;
}

.footer_links ul{
	list-style-type: none;	
	margin-top: 0.5em;
	float: left;
}
.footer_links li{
	font-size: 1em;
	border-right:solid;
	border-color: white;
	border-width: 1px;
	display:inline;
	padding-right: 1em;
	padding-left: 1em;
}

.footer_links li:first-child{
	margin-left: 1em;
}

.footer_links li:last-child{
	border: none;
}

.xhtml_valid{
  margin-top: 0.2em;
  float:right;
  padding-right:10px;
}

/*#footer {
  margin-top: 1%;
  border-top: 4px solid gray;
  width:100%;
  text-align:center;
  display: inline-block;
  background-color: #515151;
}
.footer_links {
  padding-top:10px;
  padding-bottom:10px;
}
.footer_links ul li{
  float:left;
  font-size:1em;
  display: inline;
  padding-left:20px;
}*/

/* SEARCH-BAR */

#breadcrumb #search {
  float: right;
}

#breadcrumb #search input[type="text"]{
  background: url(../images/icons/search-white.png) no-repeat 10px 6px #444;
  height: 1.95em;
  margin: 0.25em;
  padding-left: 35px;
  border: 0 none;
  color: #d7d7d7;
  width: 100px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

#breadcrumb #search input[type="text"]:focus {
  background: url(../images/icons/search-dark.png) no-repeat 10px 6px #fcfcfc;
  color: #6a6f75;
  width: 200px;
  outline: none; // rimuove il bordo blu dovuto al focus su input
}

/* INIZIO CSS PAGINA DI LOGIN */

.container {
  margin: 1% auto;
  width: 50%;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 5% 5% 5%;
  width: 45%;
  background: #EAEAEA;
  border-radius: 3px;
}

.login:before {
  content: '';
  position: absolute;
  top: -3%;
  right: -3%;
  bottom: -3%;
  left: -3%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.login h1 {
  margin: -5% -5% 5%;
  line-height: 200%;
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
  text-align: center;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
}

.login p {
  margin: 7% 0 0;
}

.login p:first-child {
  margin-top: 7%;
}

.login p.submit {
  text-align: center;
}

.login p.logout {
  text-align: center;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}

.login-help a {
  color: #cce7fa;
  text-decoration: none;
}

.login-help a:hover {
  text-decoration: underline;
}

.credentials {
  color: #545353;
  font-size: 0.9em;
  font-weight: bold;
}

.login input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width:90%;
  height: 35px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
}

.login input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

input[name=sign-in] {
  margin-top: 3%;
  padding: 0 18px;
  height: 35px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px #545353;
  background: #5D4BD8;
  border: 1px solid;
  border-color: #545353;
  outline: 0;
  width:96%;
  border-radius: 2px;
}
input[name=logout] {
  margin-top: 3%;
  padding: 0 18px;
  height: 35px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px #545353;
  background: #FE3F44;
  border: 1px solid;
  border-color: #545353;
  outline: 0;
  width:96%;
  border-radius: 2px;
}

input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  color:black;
}

.info_login {
  color: #545353;
  font-size: 0.7em;
}

/* INIZIO CSS LOCALITA */

#nav {
  border-radius:10px;
  margin-top:1%;
  border-right: 4px solid ;
  border-color:#2F2F2F;
  float: left;
  width: 20%;
  background: #515151;
  height:100%;
}

#nav ul {
  margin: 0.5em;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1em;
  list-style-type:none;
}

#nav li {
  padding-left: 1.4em;
  color: #fff;
}

a:link{
  color: #00074F;
  text-decoration: none;
  font-weight:bold;
}
a:visited{
  color: #C38D00;
  font-weight:bold;
}
a:hover{
  text-decoration: underline;
  font-weight:bold;
}
#nav_mare {
  background-image: url(../images/icons/n_mare.png);
  background-repeat: no-repeat;
  background-position: -4% top;
}

#nav_cit {
  background-image: url(../images/icons/n_cit.png);
  background-repeat: no-repeat;
  background-position: -4% top;
}

#nav_mont {
  background-image: url(../images/icons/n_mont.png);
  background-repeat: no-repeat;
  background-position: -4% top;
}

#nav_selected {
  padding-left: 2em;
  background-image: url(../images/icons/n_pos.png);
  background-repeat: no-repeat;
  background-position: -0.4em;
}

#content {
  margin-top:1%;
  border-style:solid;
  border-radius: 10px;
  border-color:black;
  color:black;
  width:100%;
  height:100%;
  background-color: white;
}
#content h1 {
  color: #515151;
  padding-left:25%;
}
#content h2 {
  color: #515151;
  padding-left:25%;
}
#content ul {
  padding-top:1%;
  padding-left:27%;
}
#content ul li a{
  color: #1547B2;
  font-weight:bold;
}
#descr_loc {
  border-style:solid;
  border-radius: 10px;
  margin-top:1%;
  float: left;
  width: 58%;
  padding-top:1%;
  padding-left: 2%;
  padding-right: 2%;
  overflow: hidden;
  color: #222222;
  background-color: #ffffff;
}

#descr_loc h1 {
  display: block;
  float: right;
  position: relative;
  top: 0.8em;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5em;
}

#descr_loc h2 {
  font-weight: normal;
  font-size: 3em;
}

#descr_loc h3 {
  padding-top: 1em;
}

#descr_loc a:link{
	color: #1547B2;
  text-decoration: none;
  font-weight:normal
}
#descr_loc a:visited{
  color: #C38D00;
  font-weight:normal
}
#descr_loc a:hover{
  text-decoration: underline;
  font-weight:normal
}

.immagini {
  width:99%;
  height:200px;
  border-style:solid;
  border-width: 1px;
  border-radius: 5px;
  border-color:gray;
}

.img_content {
  width:99%;
  height:300px;
  border-style:solid;
  border-width: 1px;
  border-radius: 5px;
  border-color:gray;
  margin-top:1%;
  margin-bottom:1%;
}

#img_presentazione {
  width:99%;
  height:200px;
  border-style:solid;
  border-width: 1px;
  border-radius: 5px;
  border-color:gray;
  overflow: hidden;
}


#aside {
  border-style:solid;
  border-radius: 10px;
  float: right;
  width: 16.5%;
  margin-top:1%;
  padding-left: 1%;
  padding-bottom:1%;
  color: #E6FFF6;
  background-color: #515151;
}

#aside h1 {
  padding-top: 0.38em;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5em;
}

#aside a{
  background-image: url(../images/icons/Link_out.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right center;
  padding-right: 1em;
  font-weight:normal;
}

#government li,#utility li {
  list-style: none;
}

.info dt {
  float: left;
  margin-right: 0.3em;
}

.info dd {
  float. left;
  clear: right;
}

.square {
  vertical-align: super;
  font-size: 0.7em;
}

/* OCCHIO ALLA STORIA COLONNA - DARE COLORE NAV A MAIN */
